<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hodo.jjamtalk" android:versionCode="1" android:versionName="1.0.2">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.android.vending.BILLING"/>


    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@layout/app_icon"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"
            android:theme="@style/NoTitleBar"
            android:screenOrientation="portrait"

           />
        <activity android:name=".StartLogo">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>


        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme ="@style/NoTitleBar"
            android:screenOrientation="portrait">


        </activity>

        <service
            android:name=".Firebase.MyFirebaseInstanceIdSerivce">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".Firebase.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity android:name=".SignUpActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MyProfileActivity"
            android:theme="@style/MyTheme"
            android:screenOrientation="portrait"
            />
        <activity android:name=".MyPageActivity"
            android:theme="@style/MyTheme"
            android:label="내 페이지"
            android:screenOrientation="portrait"/>

        <activity android:name=".SettingActivity"
            android:theme="@style/MyTheme"
            android:parentActivityName=".MyPageActivity"
            android:screenOrientation="portrait"
            android:label="설정">
        </activity>
        <activity android:name=".PublicChatRoomHostActivity"
            android:label="공개채팅방"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity android:name=".FanClubActivity"
            android:label="팬"
            android:theme="@style/MyTheme"
            android:screenOrientation="portrait"
            >

        </activity>

        <activity android:name=".UserFanActivity"
            android:label="팬"
            android:theme="@style/MyTheme"
            android:screenOrientation="portrait"
            >

        </activity>

        <activity android:name=".MainSettingActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".BuyJewelActivity"
            android:parentActivityName=".MyPageActivity"
            android:theme ="@style/NoTitleBar"
            android:screenOrientation="portrait"
            android:label="상자 구입"
           >
        </activity>
        <activity android:name=".PublicChatOptionMenuBanActivity"
            android:label="차단 리스트"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".PublicChatOptionMenuUserListActivity"
            android:label="현재 참가자"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".BuyGoldActivity"       android:screenOrientation="portrait"/>
        <activity android:name=".ImageActivity"
            android:theme ="@style/NoTitleBar"
            android:screenOrientation="portrait"/>
        <activity android:name=".Kakao.KakaoSignupActivity"       android:screenOrientation="portrait"/>
        <activity android:name=".ClickedMyPicActivity"
            android:theme ="@style/NoTitleBar"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".InputProfile"       android:screenOrientation="portrait"></activity>
        <activity android:name=".UserPageActivity"
            android:theme="@style/NoTitleBar"       android:screenOrientation="portrait"></activity>

        <activity android:name=".PublicChatRoomActivity"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".ChatRoomActivity"
            android:theme="@style/MyTheme"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".BoardItemActivity"
            android:label="허허참"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".BoardWriteActivity"
            android:theme="@style/MyTheme"
            android:label="글쓰기"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".BoardMyListActivity"
            android:theme="@style/MyTheme"
            android:label="내가 쓴 글"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".ImageViewPager"
            android:theme="@style/NoTitleBar"
            android:screenOrientation="portrait"
            ></activity>

        <activity android:name=".BlockListActivity"
            android:label="차단 목록"       android:screenOrientation="portrait"></activity>

        <activity android:name=".MailboxActivity"
            android:theme="@style/MyTheme"
            android:label="우체통"       android:screenOrientation="portrait"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent"/>

        <activity android:name=".HoneyGetHistoryActivity"
            android:label= "받은 꿀"      android:screenOrientation="portrait"></activity>
        <activity android:name=".HoneySentHistoryActivity"
            android:label= "선물한 꿀"      android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MyJewelBoxActivity"
            android:theme="@style/MyTheme"
            android:parentActivityName=".MyPageActivity"
            android:label="내 아이템"      android:screenOrientation="portrait"></activity>
    </application>

</manifest>